@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=PT+Sans+Narrow&display=swap');

body {
    background-position: 0in;
    font-family: 'Caveat', Courier, monospace, sans-serif;
    background-color: #ede4df8f;
    overflow: scroll;
    word-wrap: break-word;
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
}

nav {
	padding: 1rem;
    background-color:hsl(0, 23%, 95%);
    text-align: right;
    box-sizing: border-box;
}

nav > a {
	    text-decoration: none;
	    color: #3a3a3a;
	    border-left: 1px solid;
        padding: 5px 10px;
}

nav > a:hover {
              color: silver;
}

h1 {
    font-family: 'Sans', sans-serif;
    color: rgba(0, 0, 0, 0.284);
    text-align: center;
    text-transform: none;
    letter-spacing: 0px;
}

h2 {
    color:currentcolor;
    font-family: Caveat, sans-serif;
    text-align: center;
    letter-spacing: 0px;
}
