@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=PT+Sans+Narrow&display=swap');

body {
    background-position: 0in;
    font-family: 'Caveat', Courier, monospace, sans-serif;
    background-color: #ede4df8f;
    overflow: scroll;
    word-wrap: break-word;
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
}

nav {
	padding: 1rem;
    background-color:hsl(0, 23%, 95%);
    text-align: right;
    box-sizing: border-box;
}

nav > a {
	    text-decoration: none;
	    color: #3a3a3a;
	    border-left: 1px solid;
        padding: 5px 10px;
}

nav > a:hover {
              color: silver;
}

h1 {
    font-family: 'Sans', sans-serif;
    color: rgba(0, 0, 0, 0.284);
    text-align: center;
    text-transform: none;
    letter-spacing: 0px;
}

h2 {
    color:currentcolor;
    font-family: Caveat, sans-serif;
    text-align: center;
    letter-spacing: 0px;
}

#start {
    height: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.first-pic {
        float: none;
        margin-right: 200px;
        margin-left: 80px;
}

/* first paragraph index */

#welcome {
 text-align: center;
 display: block;
 margin: 150px;
}

/* photos index */

#box {
 margin: 135px;
 display: block;
}

/* social networks */

footer {
    float: inline-end;
    position: absolute;
    height: 160px;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    display: block;
    left: 0; 
}

#social-networks {
              margin-top: 200px;
              margin-bottom: 0px;
              text-align: center;
              height: 130px;
              background-color: #3a3a3a;
}
#social-networks i {
                font-size: 160%;
                margin: 1%;
                padding: 5%;
                color: beige;
}
#social-networks > div {
                   display: inline;
                   color: #a69c95;
                   text-align: center; 
}